.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 60%;

  padding: 1em;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);

  border-radius: 1em;
  border: 1px solid #444;
}

@media screen and (max-width: 1200px) {
  .home {
    width: 90%;
  }
}

.home--info {
  text-align: center;

  font-size: 1.2em;
}

.home--avatar {
  object-fit: cover;

  border-radius: 50%;

  height: 17em;
  width: 17em;
}
