.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 2em 0 1em 0;

  background-color: rgba(0, 0, 0, 0.85);

  border-bottom: 1.5px solid #444;
}

.header .title {
  color: #ffff;

  text-align: center;
  font-family: "Tangerine", cursive;

  font-size: 6em;
}
